*.bak
.Rhistory
*.rec
*.#*
*._*
*.DS_Store
*.pdf
*.png
*.jpg
*.hds
*.dat
*_par*
*unirandpar*
*covrandpar*
R_Files/Post-Processing/*.txt
R_Files/Post-Processing/*.txt
R_Files/Post-Processing/*.pdf
R_Files/Post-Processing/*.rch
R_Files/Post-Processing/*.sfr
R_Files/Post-Processing/*.wel
R_Files/Post-Processing/*.zone
R_Files/Post-Processing/*.obs
R_Files/Post-Processing/*.lst
R_Files/Post-Processing/*.txt
R_Files/Post-Processing/Results
R_Files/Post-Processing/CovRandPar_out
R_Files/Post-Processing/UniRandPar_out
R_Files/Post-Processing/Results
_scratchwork_and_figure_tests
MODFLOW/up2018
MODFLOW/orig_1991_2011
MODFLOW/hist
SWBM/hist
SWBM/pvar_a03
SWBM/pvar_a05
SWBM/pvar_a10
SWBM/pvar_b70
SWBM/pvar_b80
SWBM/pvar_b90
SWBM/pvar_c10
SWBM/pvar_c20
SWBM/pvar_c30
SWBM/pvar_a_extr_95_07
SWBM/scenario_archive
MODFLOW/hist
MODFLOW/pvar_a03
MODFLOW/pvar_a05
MODFLOW/pvar_a10
MODFLOW/pvar_b70
MODFLOW/pvar_b80
MODFLOW/pvar_b90
MODFLOW/pvar_c10
MODFLOW/pvar_c20
MODFLOW/pvar_c30
MODFLOW/pvar_a_extr_95_07

